:root {
  --blue: #0b3d91;
  --red: #fc3d21;
  --white: #ffffff;
  --black: #000000;
  --grey: #555555;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  font-family: 'Radley', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, select {
  max-width: 100%;
}

h1 {
  color: var(--blue);
  text-align: center;
}

p, h1, input, select, button {
  font-family: 'Radley', serif;
}