.gallery {
    width: calc(100% - 64px);
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-left: 64px;
    margin-bottom: 100px;
}

.next-page {
    justify-self: center;
}