.status {
    text-align: center;
    position: relative;
} 
.status__error {
    color: var(--red);
}
.status__ok {
    color: var(--blue);
}
.status div:nth-child(2) {
    opacity: 0.8;
    transform: scale(0.8);
}
.status div:nth-child(3) {
    opacity: 0.5;
    transform: scale(0.7);
}
.status__requesting {
    position: absolute;
    margin-top: -80px;
    margin-left: calc(50% - 37px);
}